/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root   {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;


/*Font Sizes*/
--font-size-xs: 0.9rem;
--font-size-sm: 1rem;
--font-size-md: 1.125rem;
--font-size-lg: 1.25rem;
--font-size-xl: 1.5rem;

/*Font Weights*/
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

/*Border Radius*/
--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

/*Site max width*/
--site-max-width: 1300px;
}

/* style for whole site */
ul{
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
   width: 100%;
}

.section-content{
    margin: auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}


.section-title{
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: var(--secondary-color);
    margin: 15px auto 0;
    border-radius: var(--border-radius-s);
}

/*navbar styles */

header{
    position: fixed;
    background: var(--primary-color);
    width: 100%;
    z-index: 5;
}

header .navbar{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 15px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}
.navbar .nav-menu .nav-link:hover{
   color: var(--primary-color);
   background: var(--secondary-color);    
}

.navbar :where(#menu-open-button, #menu-close-button){
    display: none;

}


/* Hero Section Styles */
.hero{
    min-height: 90vh;
   background: var(--primary-color);
}

.hero .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero .hero-details .hero-title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: 'Miniver', sans-serif;
}

.hero .hero-details .hero-subtitle{
    font-size: var(--font-size-xl);
    margin-top: 8px 0;
    max-width: 70%;
    font-weight: var(--font-weight-semibold);
}

.hero .hero-details .hero-description{
    margin: 15px 0 40px;
    font-size: var(--font-size-m);
    max-width: 70%;
}

.hero .hero-details .hero-buttons{
    display: flex;
    gap: 15px;
}

.hero .hero-details .btn {
    padding: 12px 30px;
    border: 2px solid transparent;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.hero .hero-details .btn:hover,
.hero .hero-details .btn-order {
    background: transparent;
    color: var(--white-color);
    border-color: var(--white-color);
}

.hero .hero-details .btn-order:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero .hero-image-wrapper{
   max-width: 500px;
   margin-right: 30px;
}

/*About Section Styles */
.about{
    padding: 120px 0px;
    background: var(--light-pink-color);
}

.about .section-content{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.about .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about .about-details .section-title{
    padding: 0;
}

.about .about-details {
    max-width: 50%;
    text-align: center;
}

.about .about-details .about-description{
    font-size: var(--font-size-m);
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
}

.about .social-links-list{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.about .social-links-list .social-link{
   color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about .social-links-list .social-link:hover{
    color: var(--secondary-color);
}

/*Menu section Styles*/
.menu{
    color: var(--white-color);
    background : var(--dark-color);
    padding: 70px 0 100px;
}

.menu .menu-description{
    text-align: center;
}

.menu .menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
}

.menu .menu-items .menu-item{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100%/3 - 110px);
}
.menu .menu-items .menu-item .menu-item-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu .menu-items .menu-item .menu-item-name{
    margin: 20px 0 10px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

.menu .menu-items .menu-item .menu-item-description{
    font-size: var(--font-size-sm);
}

/*testimonial section styles*/
.testimonials-section{
    padding: 50px 0 100px;
    background: var(--light-pink-color);
}

.testimonials-section .testimonial{
    display: flex;
    padding: 35px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonials-section .testimonial .testimonial-image{
   width: 180px;
   height: 180px;
   object-fit: cover;
   margin-bottom: 50px;
   border-radius: var(--border-radius-circle);
}

.testimonials-section .testimonial .testimonial-name{
    font-size: var(--font-size-m);
    margin-bottom: 15px;
}

.testimonials-section .testimonial .testimonial-feedback{
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet{
    background: var(--secondary-color);
    width: 15px;
    height: 15px;
    opacity: 1;
}

.testimonials-section .swiper-slide-button{
    color: var(--secondary-color);
    transition: 0.3s ;
}

.testimonials-section .swiper-slide-button :hover{
    color: var(--primary-color);
}


/*Gallery Section Styles*/
.gallery{
    padding: 70px 0 100px;
}

.gallery .gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.gallery .gallery-list .gallery-item{
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 3 - 32px);
}

.gallery .gallery-list .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition:  0.3s ease;
}

.gallery .gallery-item:hover .gallery-image{
    transform: scale(1.3);
    transition:  0.3s ease;
}

/*Contact Section Styles */
.contact{
    padding: 70px 0 100px;
    background: var(--light-pink-color);
}

.contact .section-content{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.contact .contact-info-list .contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact .contact-info-list .contact-info i{
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
}
    
.contact .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 20px;
    background: var(--white-color);
    border: 2px solid var(--medium-gray-color);
    border-radius: var(--border-radius-s);
}

.contact .contact-form{
    max-width: 50%;
}

.contact .contact-form .contact-input:focus{
    border-color: var(--secondary-color);
}

.contact .contact-form.contact-textarea .contact-input{
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact .contact-form .submit-button{
    background: var(--primary-color);
    color: var(--white-color);
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-s);
    cursor: pointer;
    transition: 0.3s ease;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
}

.contact .contact-form .submit-button:hover{
    background: transparent;
    color: var(--primary-color);   
}

/* Footer Section Styles */
.footer{
    background: var(--dark-color);
    padding: 20px 0;

}

.footer .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer :where(.copyright-text, .social-link, .policy-link){
    color: var(--white-color);
}

.footer .social-link-list{
    display: flex;
    gap: 20px;
}

.footer .social-link-list .social-link{
    font-size: var(--font-size-l);
}


.footer .social-link-list .social-link:hover{
    color: var(--secondary-color);
}

.footer .policy-text .separator{
  color: var(--white-color);
    margin: 15px 0;
}


/* Responsive Styles media query code for max-width: 1200px */
@media screen and (max-width: 1200px) {
    .menu .menu-items{
        gap: 80px;
    }

    .menu .menu-items .menu-item{
        width: calc(100%/3 - 110px);
    }
}


/* Responsive Styles media query code for max-width: 900px */ 
@media screen and (max-width: 900px) {
    :root {
        --font-size-sm: 1rem;
        --font-size-md: 1.5rem;
        --font-size-l: 1rem;
        --font-size-xl: 1.75rem;
        --font-size-xxl: 2rem;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.4);
    }

    .navbar :where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
       
    }
    .navbar #menu-close-button {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .navbar #menu-open-button {
        color: var(--white-color);
    }

    .navbar .nav-menu{
       display: block;
       position: fixed;
       left: -300px;
       top: 0;
       width: 300px;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 100px;
       background: var(--white-color);
       transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
       left: 0;
    }
    .navbar .nav-menu .nav-link{
       color: var(--dark-color);
       display: block;
       font-size: var(--font-size-l);
       margin: 10px 0;
    }

    .hero .section-content{
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
        padding: 30px 20px 20px 20px;
        justify-content: center;
    }

    .hero .hero-details :is(.subtitle, .description), .about .about-details, .contact-section .contact-form{
        max-width: 100%;
    }

    .hero .hero-details .buttons{
        justify-content: center;
    }
    .hero .hero-image-wrapper{
        margin-right: 0;
        max-width: 270px;
    }

    .about .section-content{
        flex-direction: column;
        gap: 70px;
    }

    .about .about-image-wrapper .about-image{
        max-width: 250px;
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
    }

    .menu .menu-items{
        gap: 40px;
    }

    .menu .menu-items .menu-item{
        width: calc(100%/2 - 60px);
    }

    .menu .menu-items .menu-item .menu-item-image{
        max-width: 200px;
    }

    .gallery .gallery-list{
        gap: 20px;
    }

    .gallery .gallery-list .gallery-item{
        width: calc(100% / 2 - 32px);
    }

    .contact .section-content{
        flex-direction: column-reverse;
        align-items: center;
    }


}

/* Responsive Styles media query code for max-width: 600px */
@media screen and (max-width: 600px) {
    :root {
        --font-size-sm: 0.9rem;
        --font-size-md: 1.125rem;
        --font-size-l: 0.95rem;
        --font-size-xl: 1.25rem;
        --font-size-xxl: 1.5rem;
    }

    .menu .menu-items .menu-item{
        width: 100%;
    }

    .menu .menu-items .menu-item .menu-item-image{
        max-width: 250px;
    }
    .footer .section-content{
        gap: 25px;
        flex-direction: column;
    }
}
